<ion-view view-title="Change MPIN">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input round-text-input">
        <input type="number" placeholder="System M-Pin">
      </label>

      <label class="item item-input round-text-input">
        <input type="number" placeholder="New M-Pin">
      </label>

      <label class="item item-input round-text-input">
        <input type="number" placeholder="Confirm M-Pin">
      </label>

      <button class="button button-full round-button">Change Password</button>
    </div>

    <div class="card round-card round-button">
      <div class="item item-divider">Header</div>
      <div class="item item-text-wrap">content</div>
    </div>
  </ion-content>
</ion-view>
