<ion-view view-title="Change Password">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input round-text-input">
        <input type="password" placeholder="Old Password">
      </label>

      <label class="item item-input round-text-input">
        <input type="password" placeholder="New Password">
      </label>

      <label class="item item-input round-text-input">
        <input type="password" placeholder="Confirm Password">
      </label>

      <button class="button button-full">Change Password</button>
    </div>

    <div class="card">
      <div class="item item-divider">Header</div>
      <div class="item item-text-wrap">content</div>
    </div>
  </ion-content>
</ion-view>
