<ion-view view-title="login" hide-nav-bar="true">
  <ion-header-bar >
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Company ID</span>
          <input type="text" ng-model="loginData.companyId">
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
        <button class="button button-block button-negative"
                ng-click="loginData.companyId = null;
                  loginData.username = null;
                  loginData.password = null;">clear
        </button>

        <a href="#/app/xxx">Forgot Password</a>
      </div>

  </ion-content>
</ion-view>
