<ion-view view-title="transaction Inquiry">
  <ion-content>
    <div class="card round-card">
      <div class="item item-divider">
        <h3>Account</h3>
      </div>

      <div class="item item-text-wrap">
        <div class="list list-inset row">
          <div class="col col-50">Inquiry Time</div>
          <div class="col col-50">Period</div>
        </div>

        <hr class="hr-black">

        <label>Beginning Balance</label>

        <label>Date</label>
        <hr class="hr-orange">

        <div class="list list-inset row">
          <ion-list>
            <ion-item ></ion-item>
          </ion-list>
        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
