.round-text-input{
  border-radius: 20px;
  border-color: #000000;
}

.round-card{
  border-radius: 20px;
}

.round-button{
  border-radius: 50px;
}

hr.hr-black{
  border-color: #000000;
}

hr.hr-orange{
  border-color: #e6b500;
}
